@font-face {
    font-family: "calligraffitti-regular-webfont";
    src: url("./calligraffitti-regular-webfont.eot"); /* IE9 */
    src: url("./calligraffitti-regular-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./calligraffitti-regular-webfont.woff") format("woff"), /* chrome、firefox */
    url("./calligraffitti-regular-webfont.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: normal;
}


