@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1567654733669'); /* IE9 */
  src: url('iconfont.eot?t=1567654733669#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1567654733669') format('woff'),
  url('iconfont.ttf?t=1567654733669') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hu:before {
  content: "\e606";
}

.icon-niu:before {
  content: "\e60e";
}

.icon-she:before {
  content: "\e60f";
}

.icon-shu:before {
  content: "\e612";
}

.icon-zhu:before {
  content: "\e61a";
}

.icon-gou:before {
  content: "\e638";
}

.icon-hou:before {
  content: "\e639";
}

.icon-ji:before {
  content: "\e63b";
}

.icon-long:before {
  content: "\e63e";
}

.icon-ma:before {
  content: "\e63f";
}

.icon-yang:before {
  content: "\e64d";
}

.icon-weibo:before {
  content: "\e869";
}

.icon-tu:before {
  content: "\e704";
}

.icon-home:before {
  content: "\e679";
}

.icon-wechat:before {
  content: "\e738";
}

.icon-location:before {
  content: "\e76f";
}

.icon-github:before {
  content: "\e732";
}

.icon-twitter:before {
  content: "\e92a";
}

