@charset "utf-8";
/**================================================================
变量
=================================================================*/
// 标题、强化
$mainStrong: #1c2228;
// 正文
$main: #727682;
//弱化/辅助文案
$mainWeak: #bec1ca;
// 辅助
$remark: #bec1ca;
// 提示
$tips: #adb0b8;

// 动画时间
$animateTime: .3s;
// 字体
$sizeLarge: 18px;
$sizeMedium: 16px;
$sizeNormal: 14px;
$sizeSmall: 12px;
